*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  width: 1140px;
  grid-template-columns: auto;
  grid-template-areas: "result content__details";
  justify-content: space-between;
  align-content: start;
  gap: 30px;
  margin-top: 133px;
}

.result {
  grid-area: result;
  align-content: end;
  height: 456px;
  margin-top: 78px;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  align-items: end;
  height: 54px;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  padding: 1px 0px;
  position: relative;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
}

fieldset:has(.search-form__textfield) {
  height: 54px;
  width: 225px;
}

.search-form__textfield {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 0px;
  border-left: 0px;
  background-color: transparent;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #fff;
  width: 225px;
  appearance: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:hover {
  background-color: transparent;
}

.search-form__textfield:active {
  background-color: transparent;
}

.search-form__textfield:valid {
  background-color: transparent;
}

fieldset:has(.search-form__checkbox) {
  height: 54px;
  width: 212px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  padding-top: 1px;
}

.search-form__label:has(.search-form__pseudo-checkbox) {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  display: block;
  position: relative;
  inset: 1px;
  height: 15px;
  width: 16px;
  background-color: #fff;
  content: "";
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
  appearance: none;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  display: block;
  font-size: 18px;
  font-weight: 700;
  font-stretch: 87%;
  line-height: 21.6px;
  text-align: center;
  color: #fff;
  height: 34px;
  background-color: transparent;
  border: 1px solid #fff;
  margin: 0px;
  padding: 0px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
  text-decoration: none;
}

.search-form__submit-button {
  width: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 23px;
  grid-area: content__details;
  width: 399px;
  height: 534px;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 3px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(255, 255, 255, 0.2);
}

.content__list-container {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px 2px 3px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid #ffffff;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-style: solid;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  height: 103px;
  width: 390px;
}

.content__video-card-description-container {
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 4px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  color: #fff;
}

.content__video-card-thumbnail {
  height: 100%;
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
